<div class="row">
  <div class="col-xs-6 col-md-4 col-md-offset-2">
    <h2 class="page-title">Cocktails</h2>
  </div>
  <div class="col-xs-6 col-md-4 text-right">
    <p><%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @cocktails.each do |el| %>
      <%= render 'listel', cocktail: el %>
    <% end %>
  </div>
</div>


<% content_for(:js) do %>
  <script>
    var upvotes = document.querySelectorAll(".product-upvote")
    upvotes.forEach((el) => {
      el.addEventListener("click", (event) => {
        let votes = Number.parseInt(el.dataset.votes, 10);
        el.querySelector(".product-count").innerText = votes + 1 ;
        let id = el.dataset.id;
        fetch(`/cocktails/${id}/upvote/`)
      });
    })
  </script>
<% end %>

