h1, h2, h3, h4 {
  color: $dark-green;
}

body {
  color: $dark;
}

.main-wrapper {
  min-height: calc(100vh - 120px);
  padding-bottom: 20px;
  background: $white;
}

.page-title {
  padding-top: 1em;
}

.hide-el {
  display: none;
}

.list-group {
  margin-top: 40px;
}

.ingredient-item {
  margin: 20px;
  padding: 20px;
  background-color: $light;
  border-radius: 4px;
  opacity: 0.5;
}

.ingredient-item:hover {
  opacity: 1;
  h4 {
    color: $main-green;
  }
}

.ingredient-item a:hover {
  color: $main-green !important;
  cursor: pointer;
}
